

img{
    width: 250px;
    height: 250px;
}

.text{
    width:  200px;
    height: 130px;
    padding: 5px 10px 5px 10px;
    border:1px solid #999;
    font-size:16px;
    text-align: top-left;
}

body{
    background-color: f8f8f8;
}

li{
    list-style-type: none;
    color: goldenrod;
    font-size: 16px;
}

.heading{
    background-color: #eaeaea;
    font-size: 18px;
    font-weight: 400;
    color: black;
}

.short{
    color: #707070;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
}

.long{
    color: #484343;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.char{
    list-style-image: url(/img/book-img.png);
}