

img{
    width: 250px;
    height: 250px;
}

.text{
    width:  200px;
    height: 130px;
    padding: 5px 10px 5px 10px;
    border:1px solid #999;
    font-size:16px;
    text-align: top-left;
}

body{
    background-color: #fff;
}